/* ==========================================================================
   [Start] All style header
   /* 1. Header Main
      2. Search Popup
      3. Hidden Sidebar
========================================================================== */

/* ==========================================================================
   [Start] 2. Search Nav
========================================================================== */
.widget-search-header {
  background-color: #1b1a1a;
  display: inline-block;
  max-width: 270px;
  position: absolute;
  right: 15px;
  top: $nav_menu;
  width: 100%;
  padding: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  @include transition(all 300ms linear 0ms);
  #searchform div {
    line-height: normal;
    input[type="text"] {
      border: none;
      padding: 0;
      color: #9e9e9e;
      height: 30px;
    }
    #searchsubmit {
      width: 35px;
      height: 30px;
      padding: 0;
    }
    &:before {
      right: 11px;
      top: 7px;
      color: #fff;
    }
    &:after {
      top: 0;
      right: 0;
    }
  }
  &.open {
    opacity: 1;
    filter: alpha(opacity=1);
    visibility: visible;
  }
}
.header-fixed .widget-search-header {
  top: $nav_menu_sticky;
}

/* ==========================================================================
   [End] 2. Search Nav
========================================================================== */

/* ==========================================================================
   [1. Header Main
========================================================================== */
#cshero-header-inner {
  .cms-top-social {
    li {
      display: inline-block;
      margin: 0 14px;
      a {
        font-size: 14px;
        color: #5d5d5d;
        &:hover {
          color: $primary_color;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .top-contact {
    font-size: 12px;
    line-height: 20px;
    color: #cecece;
    display: inline-block;
    margin-right: 11px;
    padding-right: 13px;
    position: relative;
    &:before {
      background-color: #dedede;
      content: "";
      height: 100px;
      position: absolute;
      right: 0;
      top: -50px;
      width: 1px;
    }
    a {
      margin-right: 11px;
      padding-right: 15px;
      position: relative;
      color: #cecece;
      &:hover {
        color: $primary_color;
      }
        &:before {
        background-color: #dedede;
        content: "";
        height: 100px;
        position: absolute;
        right: 0;
        top: -50px;
        width: 1px;
      }
    }  
    span {
      display: inline-block;
    }
    i {
      padding-right: 6px;
    }  
  }
  #cshero-header-top {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .row {
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .h-line {
      background-color: #dedede;
      height: 1px;
      width: 100%;
    }
    .top-media {
      a.top-button {
        display: inline-block;
        padding: 0 9px;
        background-color: transparent;
        border: 1px solid #dedede;
        color: #cecece;
        &:hover {
          background-color: $primary_color;
          border-color: $primary_color;
          color: #fff;
        }
      }
    }
  }
  #cshero-header {
    position: relative;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    .container {
      position: relative;
    }
    #cshero-header-logo {
      a {
        display: block;
        line-height: $nav_menu;
        img {
          height: 49px;
          @include transition(all 300ms linear 0ms);
        }
        &.logo-sticky {
          position: absolute;
          top: 0;
          left: 15px;
          opacity: 0;
          filter: alpha(opacity=0);
          visibility: hidden;
        }
      }
      .top-media {
        border-left: 1px solid #dedede;
        display: inline-block;
        margin-left: 26px;
        padding-left: 20px;
        vertical-align: top;
        .cms-top-social {
          li {
            margin: 0 9px;
            a {
              color: #5d5d5d;
              &:hover {
                color: $primary_color;
              }
            }
          }
        }
      }
    }
    .cshero-navigation-right {
      float: right;
      .widget_shopping_cart .widget-title {
        display: none;
      }
      .nav-button-icon {
        font-size: 14px;
        line-height: $nav_menu;
        @include transition(all 300ms linear 0ms);
        i {
          margin: 0 16px;
          color: $color_dark;
          &:last-child {
            margin-right: 0;
          }
          &.cart {
            margin-left: 3px;
            margin-right: 26px;
          }
          &:hover {
            cursor: pointer;
            color: $primary_color;
          }
        }
        .h-search-wrapper {
          display: inline-block;
          vertical-align: top;
        }
        .h-cart-wrapper {
          position: relative;
          padding: 10px 0;
          cursor: pointer;
          &:hover {
            i {
              color: $primary_color !important;
            }
            .couter_items {
              opacity: 1;
            }
          }
        }
        .couter_items {
          background-color: $primary_color;
          @include border-radius(100%);
          color: #fff;
          display: inline-block;
          font-size: 10px;
          font-weight: 500;
          height: 17px;
          line-height: 17px;
          text-align: center;
          width: 17px;
          position: absolute;
          top: 0px;
          right: 17px;
          @include transition(all 300ms ease 0s);
          opacity: 0;
        }
        .cms-top-social {
          li {
            margin: 0 0 0 17px;
            i {
              margin-left: 0;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .top-media {
    display: inline-block;
    a.top-button {
      padding: 6px 9px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      font-size: 12px;
      color: #dedede;
      &:hover {
        border-color: $primary_color;
        background-color: $primary_color;
        color: #fff;
      }
    }
    &.line-small {
      color: #cecece;
      position: relative;
      i.fa-phone {
        padding-right: 6px;
        color: #cecece !important;
      }
      &:before {
        height: 30px;
        width: 1px;
        content: "";
        background-color: #dedede;
        position: absolute;
        top: 50%;
        @include transform(translate(0px, -50%));
        left: -4px;
      }
    }
    &.last {
      border-left: medium none !important;
      padding-left: 13px !important;
    }
  }
  &.bg-trans {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    @include transition(all 300ms linear 0ms);
    #cshero-header-top {
      .h-line {
        background-color: rgba(255,255,255,0.25);
      }
      .top-contact {
        &:before, a:before {
          background-color: rgba(255,255,255,0.25);
        }
      }
      .cms-top-social li a {
        color: #fff;
        &:hover {
          color: $primary_color;
        }
      }
      .top-media a.top-button {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.25);
      }
    }
    #cshero-header {
      @include transition(all 300ms ease 0s);
      background-color: transparent;
      .top-media {
        a.top-button {
          border: 1px solid rgba(255,255,255,0.25);
          color: #fff;
        }
        &.line-small:before {
          background-color: rgba(255,255,255,0.25);
        }
      }
    }
    &.style-3 #cshero-header {
      border-bottom: none;
    }
  }
  &.header-19 {
    #cshero-header-top {
      overflow: visible;
      z-index: 1002;
      .cms-top-social {
        display: inline-block;
      }
    }
  }
}
@media (min-width: 993px) {
  #cshero-header-inner {
    &.header-2, &.header-15 {
      #cshero-header .cshero-navigation-right .nav-button-icon .h-cart-wrapper {
        padding-right: 10px;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        .couter_items {
          right: 0;
        }
      }
    }
  }

  #cshero-header-inner {
    #cshero-header {
      #cshero-header-navigation {
        @include transition(all 300ms linear 0ms);
        .menu-white .menu-main-menu {
          > ul > li > a, > li > a {
            color: #fff;
          }
        }
        .icon-white i {
          color: #fff;
          &:hover {
            color: $primary_color;
          }
        }
      }
      &.header-fixed {
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 1001;
        width: 100%;
        left: 0;
        right: 0;
        @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
        margin: auto;
        #cshero-header-logo a {
        line-height: $nav_menu_sticky;
          img {
            height: 49px;
          }
          &.logo-main {
            opacity: 0;
            filter: alpha(opacity=0);
            visibility: hidden;
          }
          &.logo-sticky {
            opacity: 1;
            filter: alpha(opacity=1);
            visibility: visible;
          }
        }
        #cshero-header-navigation {
          .menu-main-menu {
            > ul > li, > li {
              > a {
                line-height: $nav_menu_sticky;
              }
            }
          }
          .menu-white .menu-main-menu {
            > ul > li > a, > li > a {
              color: $color_dark;
            }
          }
          .icon-white i {
            color: $color_dark;
            &:hover {
              color: $primary_color;
            }
          }
        }
        .nav-button-icon {
          line-height: $nav_menu_sticky;
          &:before {
            background-color: #eaeaea;
          }
        }
      }
    }
    &.h-style {
      #cshero-header-wrapper {
        height: $nav_menu;
      }
    }
    &.bg-trans {
      #cshero-header  {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        #cshero-header-logo .top-media {
          border-left: 1px solid rgba(255, 255, 255, 0.25);
          .cms-top-social {
            li {
              a {
                color: #fff;
                &:hover {
                  color: $primary_color;
                }
              }
            }
          }
        }
        &.header-fixed {
          border-bottom: none;
          #cshero-header-logo .top-media {
            border-left: 1px solid #dedede;
            .cms-top-social {
              li {
                a {
                  color: #5d5d5d;
                  &:hover {
                    color: $primary_color;
                  }
                }
              }
            }
          }
          .top-media {
            border-left-color: #dedede;
            a.top-button {
              border-color: #dedede;
              color: #5d5d5d;
              &:hover {
                color: #fff;
                border-color: $primary_color;
              }
            }
            &.line-small {
              &:before {
                background-color: #dedede;
              }
              i {
                color: #9b9b9b !important;
              }
            }
          }
        }
      }
    }
    &.m-style {
      #cshero-header {
        .menu-main-menu > li {
          > a .menu-title {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              height: 2px;
              background-color: transparent;
              width: 100%;
              bottom: -4px;
              left: 0;
              right: 0;
              width: 0;
              margin: auto;
              @include transition(all 300ms linear 0ms);
            }
          }
          &.current-menu-ancestor > a .menu-title, > a:hover .menu-title {
            &:before {
              width: 100%;
              background-color: #222;
            }
          }
        }
      }
      &.bg-trans #cshero-header {
        .menu-main-menu > li {
          &.current-menu-ancestor > a .menu-title, > a:hover .menu-title {
            &:before {
              background-color: #fff;
            }
          }
        }
        &.header-fixed .menu-main-menu > li {
          &.current-menu-ancestor > a .menu-title, > a:hover .menu-title {
            &:before {
              background-color: #222;
            }
          }
        }
      }
    }
    &.h-style-16 #cshero-header {
      @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
    }
    &.header-1 {
      .top-media {
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        padding-left: 30px;
      }
    }
    &.header-2 {
      #cshero-header-top {
        z-index: 2;
      }
      #cshero-header {
        border-bottom: none;
        .cshero-navigation-right .nav-button-icon i.cart {
          margin-right: 0;
        }
      }
    }
    &.h-style-3 #cshero-header {
      border-bottom: none;
    }
    &.h-style-5 {
      #cshero-header {
        #cshero-header-logo a {
          line-height: 111px;
        }
        #cshero-header-navigation {
          .h-top-contact {
            padding: 8px 0;
            border-bottom: 1px solid #eaeaea;
            display: inline-block;
            li {
              display: inline-block;
              &:before {
                height: 19px;
                right: -2px;
                top: 3px;
              }
              &:last-child:before {
                height: 0;
              }
            }
          }
          .main-navigation .menu-main-menu > li > a, .cshero-navigation-right .nav-button-icon {
            line-height: $nav_menu_small;
          }
          .nav-button-icon {
            i {
              border: 1px solid #eaeaea;
              height: 30px;
              line-height: 30px;
              text-align: center;
              width: 35px;
              margin: 0 -2px;
              &.search {
                margin-left: 30px;
                padding-left: 0;
              }
            }
            .couter_items {
              right: 12px;
              top: -15px;
            }
            &:before {
              bottom: 23px;
              top: inherit;
              @include transform(translate(0px, 0%));
            }
          }
        }
        #cshero-header-contact {
          text-align: right;
        }
        &.header-fixed {
          #cshero-header-logo a {
            line-height: 111px;
            img {
              height: inherit;
            }
          }
        }
      }
      &.bg-trans {
        #cshero-header:not(.header-fixed) #cshero-header-navigation .h-top-contact {
          border-bottom: 1px solid rgba(255,255,255,0.1);
          li {
            span {
              color: #fff;
            }
            &:before {
              background-color: rgba(255,255,255,0.1);
            }
          }
        } 
      }
    }
    &.header-4 {
      &.bg-trans #cshero-header {
        border-bottom: none;
      }
    }
    &.header-7 {
      #cshero-header-logo {
        .logo-main {
          display: inline-block !important;
        }
      }
    }
    &.header-9 {
      .top-media a.top-button {
        color: #5d5d5d;
        border: 1px solid #dedede;
        &:hover {
          color: #fff;
        }
      }
      &.custom-header17 {
        #cshero-header {
          border-top: 2px solid $primary_color;
          .top-media {
            border-left: none;
            padding-left: 0;
            .top-button {
              background-color: $primary_color;
              border-color: $primary_color;
              color: #fff;
              &:hover {
                background-color: transparent;
                color: $primary_color;
              }
            }
          }
        }
      }
    }
    &.header-9, &.header-10 {
      .top-media {
        border-left: 1px solid #dedede;
        padding-left: 30px;
      }
      #cshero-header .cshero-navigation-right .nav-button-icon .cms-top-social i {
        color: #5d5d5d;
        &:hover {
          color: $primary_color;
        }
      }
    }
    &.header-15 {
      background-color: #fff;
      left: 0;
      margin: auto;
      max-width: 1170px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1001;
      .container {
        padding: 0 30px;
      }
      #cshero-header.header-fixed {
        max-width: 1170px;
        left: inherit;
        right: inherit;
      }
      #cshero-header {
        border-bottom: none;
        .cshero-navigation-right .nav-button-icon i.cart {
          margin-right: 0;
        }
      }
    }
    &.custom-header18 {
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1001;
      #cshero-header-top {
        background-color: #282828;
        .top-contact {
          i {
            color: $primary_color;
          }
          &:before, a:before {
            background-color: #484848;
            height: 10px;
            top: 50%;
            @include transform(translate(0px, -50%));
          }
        }
        .top-media a {
          border-color: $primary_color;
          background-color: $primary_color;
          color: #fff;
          &:hover {
            background-color: transparent;
            color: $primary_color;
          }
        }
      }
      #cshero-header {
        .cshero-navigation-right .nav-button-icon {
          i.cart {
            margin-right: 0;
          }
          .couter_items {
            right: -10px;
          }
        }
        .menu-main-menu > li {
          > a .menu-title {
            position: static;
            &:before {
              bottom: inherit;
              background-color: $primary_color !important;
            }
          }
          &:hover, &.current-menu-item, &.current-menu-parent {
            > a {
              color: $primary_color;
            }
          }
        }
        #cshero-header-navigation .main-navigation .menu-main-menu li:not(.group) > ul.drop_full_width.sub-menu {
          max-width: 1170px !important;
        }
      }
    }
    &.header-19 {
      .widget-search-header.open {
        top: 70px;
      }
      #cshero-header-top {
        background-color: #f2f2f2;
        color: #5d5d5d;
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 22px;
      }
      #cshero-header-middle {
        padding-bottom: 65px;
        padding-top: 30px;
        #cshero-header-contact {
          .media {
            display: inline-block;
            color: #bfbfbf;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.02em;
            margin-left: 25px;
            padding-left: 25px;
            position: relative;
            margin-top: 3px;
            overflow: visible;
            &:before {
              height: 30px;
              width: 1px;
              background-color: #dedede;
              position: absolute;
              top: 50%;
              left: -1px;
              content: "";
              @include transform(translate(0px, -50%));
            }
            &:first-child {
              padding-left: 0;
              margin-left: 0;
              &:before {
                display: none;
              }
            }
            .media-left {
              padding-top: 10px;
              padding-right: 14px;
              i {
                font-size: 14px;
              }
            }
            .media-body {
              span {
                display: block;
                &:nth-child(2) {
                  color: #5d5d5d;
                }
              }
              a {
                color: #5d5d5d;
                &:hover {
                  color: $primary_color;
                }
              }
            }
          }
        }
      }
      #cshero-header {
        background-color: transparent;
        bottom: -35px;
        position: absolute;
        .navigation-main {
          background-color: #333333;
          @include border-radius(2px);
          #site-navigation {
            float: left;
            padding: 0 20px;
            .menu-main-menu > li > a {
              line-height: 70px;
              color: #fff;
              .menu-title:before {
                background-color: $primary_color;
              }
            }
          }
          .cshero-navigation-right {
            .nav-button-icon {
              line-height: 70px;
              display: inline-block;
              vertical-align: middle;
              i {
                color: #fff;
                &:hover {
                  color: $primary_color;
                }
              }
            }
            .top-media {
              margin-right: -1px;
              a {
                display: inline-block;
                vertical-align: middle;
                line-height: 70px;
                padding: 0 30px;
                color: #fff;
                background-color: $primary_color;
                border: none;
                font-size: 13px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                @include border-radius(0 2px 2px 0);
                &:hover {
                  opacity: 0.85;
                }
              }
            }
          }
        }
        &.header-fixed {
          bottom: inherit;
          position: fixed;
          background-color: #333;
          .top-media a {
            @include border-radius(0 !important);
          }
        }
      }
      #cshero-header-wrapper {
        position: relative;
      }
      &.custom-header20 {
        #cshero-header-middle {
          padding-bottom: 30px;
        }
        #cshero-header:not(.header-fixed) {
          margin-bottom: 30px;
          position: relative;
          bottom: 0;
        }
        #cshero-header .navigation-main #site-navigation .menu-main-menu > li {
          padding-left: 5px;
          padding-right: 5px;
          > a .menu-title {
            background-color: transparent;
            border-radius: 2px;
            padding: 5px 10px;
            @include transition(all 280ms ease 0ms);
            &:before {
              display: none;
            }
          }
          &:hover, &.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
            > a > span {
              background-color: $primary_color;
            }
          }
        }
      }
    }
  }
  .cs-boxed {
    #main {
      background-color: #fff;
    }
    #cshero-header.header-fixed {
      max-width: 1270px;
    }
  }
  .body-border-wrapper #cshero-header-inner #cshero-header.header-fixed {
    @include box-shadow(none);
  }
}
@media (max-width: 992px) {
  .header-19 #cshero-header-top {
    background-color: #f2f2f2;
  }
  /* Search Nav */
  .widget-search-header {
    width: 270px;
    top: 46px;
    right: -100px;
  }
  #cshero-header-inner.bg-trans {
    #cshero-header > .container {
      background-color: rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      #cshero-header-navigation {
        margin-top: 15px;
      }
    }
  }
  #cshero-menu-mobile {
    .nav-button-icon {
      position: absolute;
      right: 115px;
      .fa-search:before {
        content: "\e618";
        font-family: 'Pe-icon-7-stroke';
      }
    }
  }
}
.admin-bar {
  #cshero-header-inner #cshero-header.header-fixed{
    top: 32px;
  }
  .more-sign-up, .more-sign-in {
    display: none;
  }
}
/* ==========================================================================
   [End] 1. Header Main
========================================================================== */

/* ==========================================================================
   [Start] 3. Hidden Sidebar
========================================================================== */
#cms-theme {
  #page-wrapper {
    @include transition(all 400ms ease 0ms);
    position: relative;
    z-index: 999;
    &.cs-wide {
      background-color: #fff;
    }
  }
  &.hidden-sidebar-active #page-wrapper {
    @include transform(translateX(-370px));
  }
}
.cshero-hidden-sidebar {
  background-color: #222222;
  color: #bfbfbf;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 370px;
  padding: 65px 40px;
  z-index: 1000;
  @include transition(all 400ms ease 0ms);
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  .sidebar-close {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    right: 30px;
    top: 50px;
    opacity: 0;
    @include transition(all 400ms ease 0ms);
    &:hover {
      color: #fff;
    }
  }
  &:hover .sidebar-close {
    opacity: 1;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
  .sidebar-inner {
    height: 100vh;
  }
  a {
    color: #fff;
    &:hover {
      color: $primary_color;
    }
  }
  aside {
    margin-bottom: 35px;
  }
  ul.menu {
    li {
      a {
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        line-height: 40px;
        .menu-title {
          position: relative;
          &:before {
            background-color: $primary_color;
            content: "";
            height: 2px;
            position: absolute;
            top: -3px;
            width: 0px;
            opacity: 0;
            filter: alpha(opacity=0);
            @include transition(all 300ms linear 0ms);
          }
        }
      }
      &.current-menu-item a, a:hover {
        color: $primary_color;
        .menu-title:before {
          opacity: 1;
          filter: alpha(opacity=1);
          width: 10px;
        }
      }
    }
  }
  .cs-social{
    text-align: center;
    li {
      margin: 0 13px;
      a {
        font-size: 14px;
      }
    }
  }
}
/* ==========================================================================
   [Start] 4. Hidden Sidebar
========================================================================== */

.view-demos {
  background-color: rgba(34, 34, 34, 0.95);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1001;
  @include transition(all 280ms ease 0ms);
  opacity: 0;
  filter: alpha(opacity=0);
  .view-demos-content-inner {
    padding: 20px 80px;
    border: 1px solid #333;
  }
  .open {
    background-color: rgba(34, 34, 34, 0.95);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    left: 0;
    top: -42px;
    line-height: 42px;
    padding: 0 20px;
    position: absolute;
    z-index: 1002;
    @include transition(all 400ms ease 0ms);
    i {
      font-size: 22px;
      line-height: 0;
      padding-left: 20px;
      position: relative;
      top: 2px;
      color: $primary_color;
      @include transition(all 400ms ease 0ms);
    }
  }
  &.opened {
    margin-bottom: 0 !important;
    .open i:before {
      content: "\f107";
    }
  }
}

.cms-demos {
  .cms-carousel-image {
    position: relative;
    img {
      border: 2px solid #333;
    }
    a:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      @include transition(all 400ms ease 0ms);
      background-color: rgba(213,170,109,0.8);
      z-index: 1;
    }
    span {
      background-color: #fff;
      @include border-radius(100%);
      font-size: 24px;
      height: 44px;
      left: 0;
      line-height: 44px;
      margin: auto;
      position: absolute;
      right: 0;
      top: 50%;
      @include transform(translate(0px, -50%));
      width: 44px;
      opacity: 0;
      display: inline-block;
      margin-top: -40px;
      filter: alpha(opacity=0);
      @include transition(all 400ms ease 0ms);
      z-index: 2;
    }
    &:hover {
      a:before {
        opacity: 1;
        filter: alpha(opacity=1);
      }
      span {
        opacity: 1;
        filter: alpha(opacity=1);
        margin-top: 0;
      }
      img {
        border-color: $primary_color;
      }
    }
  }
  .cms-carousel-title {
    font-weight: 700;
    margin-top: 12px;
    text-transform: uppercase;
    a {
      color: #fff;
      &:hover {
        color: $primary_color;
      }
    }
  }
  .owl-controls {
    .owl-prev, .owl-next {
      position: absolute;
      margin: 0;
      left: -60px;
      top: 50%;
      @include transform(translate(0px, -50%));
      i {
        height: 42px;
        line-height: 40px;
        width: 42px;
        &:before {
          font-size: 18px;
        }
      }
    }
    .owl-next {
      left: inherit;
      right: -60px;
    }
  }
}

#cms-theme.header-21 {
  margin-left: 270px;
  #page-title.br-style9 { 
    background-color: #fff;
    margin-bottom: 80px;
    padding: 0 100px;
    .container {
      border-bottom: 1px solid #e8e8e8;
      padding: 70px 0 40px 0;
      width: 100%;
    }
  }
  .vc_row[data-vc-full-width] {
    width: 100% !important;
    padding-left: 90px !important;
    padding-right: 90px !important;
    left: 0 !important;
    margin: 0;
  }
  .vc_row[data-vc-stretch-content] {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #cshero-header-left {
    width: 270px !important;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 30px;
    border-right: 1px solid #e8e8e8;
    #cshero-header-left-logo {
      margin-bottom: 112px;
      padding-bottom: 30px;
      position: relative;
      text-align: center;
      &:before {
        width: 270px;
        height: 1px;
        background-color: #e8e8e8;
        position: absolute;
        left: -30px;
        bottom: 0;
        content: "";
      }
    }
    #cshero-header-left-menu {
      .menu-main-menu {
        > li {
          > a {
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 1px solid #f1f1f1;
            .title-attribute {
              display: none;
            }
          }
          &:last-child > a {
            border-bottom: none;
          }
        }
        li {
          position: relative;
          a {
            font-size: 13px;
            color: #333333;
            display: block;
            padding: 8px 0;
            position: relative;
            &:hover {
              color: $primary_color;
            }
          }
          &.current-menu-item > a, &.current-menu-ancestor > a {
            color: $primary_color;
          }
          &.menu-item-has-children .cs-menu-toggle {
            cursor: pointer;
            display: block;
            height: 20px;
            line-height: 20px;
            position: absolute;
            right: -8px;
            text-align: center;
            top: 9px;
            width: 20px;
            &:before {
              content: "";
            }
            &:after {
              content: "\e684";
              font-family: Pe-icon-7-stroke;
              font-weight: normal;
              font-size: 16px;
              color: #7f7f7f;
            }
            &:hover:after {
              color: $primary_color;
            }
          }
          ul.sub-menu {
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            width: 100% !important;
            @include transition(all 300ms linear 0ms);
            opacity: 0;
            padding-left: 13px;
            &.submenu-open {
              max-height: 2000px;
              visibility: visible;
              overflow: visible;
              opacity: 1;
              + .cs-menu-toggle:after {
                content: "\e688";
              }
            }
            .sub-menu {
              + .cs-menu-toggle {
                &:after {
                  content: "\e684";
                  color: #999;
                }
                &:hover:after {
                  color: $primary_color;
                }
              }
              &.submenu-open + .cs-menu-toggle:after {
                content: "\e688";
              }
            }
          }
        }
      }
    }
    #cshero-header-left-footer {  
      margin-top: 170px;
      padding: 30px 0;
      position: relative;
      text-align: left;
      text-align: center;
      &:before {
        width: 270px;
        height: 1px;
        background-color: #e8e8e8;
        position: absolute;
        left: -30px;
        top: 0;
        content: "";
      }
      .cms-footer-social {
        li {
          display: inline-block;
          margin: 0 8px;
          a {
            color: #5d5d5d;
            &:hover {
              color: $primary_color;
            }
          }
        }
      }
    }
  }
  #page-default {
    width: 100%;
    padding: 0;
    .entry-content > .vc_row {
      margin: 0;
      padding: 0 90px;
    }
  }
  .cms-cta-wrapper .container {
    padding: 0 150px;
    width: 100%;
  }
  #cshero-footer {
    #cshero-footer-feature-top > .container {
      width: 100%;
      max-width: 100%;
      padding-left: 105px;
      padding-right: 105px;
    }
    #cshero-footer-top, #cshero-footer-bottom, #cs-copyright  {
      > .container {
        width: 100%;
        padding-left: 90px;
        padding-right: 90px;
      }
    }
  }
}

#cshero-menu-left-mobile {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  @include border-radius(2px);
  height: 50px;
  line-height: 100px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 30px;
  width: 50px;
  z-index: 1001;
  .popup_menu {
    font-size: 21px;
    height: 30px;
    line-height: 30px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    @include transform(translate(0px, -50%));
    width: 23px;
    z-index: 1001;
    .line, .line:before, .line:after {
      height: 2px;
      width: 23px;
      display: block;
      @include transition(all 0.15s ease-out 0s);
      background-color: #fff;
    }
    .line {
      position: absolute;
      top: 14px;
    }
    .line:before, .line:after {
      content: "";
      position: absolute;
    }
    .line:before {
      top: -7px;
    }
    .line:after {
      top: 7px;
    }
    &:hover {
      .line:before {
        top: -10px;
      }
        .line:after {
        top: 10px;
      }
    }
    &.active {
      .line {
        background-color: transparent;
      }
      .line:before {
        top: 0;
        @include transform(rotate(-45deg));
      }
      .line:after {
        top: 0;
        @include transform(rotate(45deg));
      }
    }
  }
}
.admin-bar {
 &.header-21  #cshero-header-left-logo {
    padding-top: 30px;
  }
  #cshero-menu-left-mobile {
    top: 62px;
  }
}