/*------------------------------------------------------------------
[Main of contents]

1. Reset HTML/CSS, Unitest, Body
2. Page Title
3. Primary
3. Footer
-------------------------------------------------------------------*/
/* ==========================================================================
   [Start] 1. Reset HTML/CSS, Unitest, Body, @Extend
========================================================================== */
body {
  overflow-x: hidden;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.aligncenter {
  margin: 5px auto;
}
.alignleft {
  float: left;
}
img.alignleft {
  margin: 5px 30px 15px 0;
}
.alignright {
  float: right;
}
img.alignright {
  margin-left: 15px;
  margin-bottom: 20px;
}
.wp-caption { 
  opacity: 1;
  &.alignnone {
    width: 100% !important;
  }
}
.media-left img {
  max-width: inherit;
}
.wp-caption-text {opacity: 1;}
.gallery-caption {opacity: 1;}
.left {
  float: left;
}
.right {
  float: right;
}
.text-upper {
  text-transform: uppercase;
}
.entry-page-image {
  margin-bottom: 14px;
}
#main #page-default {
  position: relative;
  z-index: 1;
}
.block {
  display: block;
}
.b-ra img {
  @include border-radius(2px 2px 0 0);
}
.sl-italic {
  font-style: italic;
  letter-spacing: 0 !important;
}
a:before, a:after {
  outline: none;
  text-decoration: none;
}
a, a:hover, a:focus {
  outline: none;
  text-decoration: none;
  @include transition(all 300ms linear 0ms);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  line-height: 1.1;
  font-weight: 700;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0 0 15px;
}
img {
  height: auto;
  max-width: 100%;
}
.hide-image img {
  display: none;
}
.l10 {
  letter-spacing: 0.01em;
}
.l20 {
  letter-spacing: 0.02em;
}
.l60 {
  letter-spacing: 0.06em;
}
.style-i {
  font-style: italic !important;
}
.w50 {
  float: left;
  width: 50%;
}
.size_big {
  font-size: 64px;
}
.size_small {
  font-size: 26px;
}
body .wpb_content_element,
body .wpb_button {
  margin-bottom: 0
}
.entry-content > .wpb_row .wpb_row {
    margin-left: -15px;
    margin-right: -15px;
}
.entry-content > .wpb_row .padding-30 .wpb_row {
    margin-left: 0;
    margin-right: 0;
}
.vc_row-fluid .container .container,
.vc_row-fluid .vc_row-fluid .container {
  width: 100%;
}
.cs-boxed .entry-content > .vc_row-fluid {
  background-color: #fff;
  position: relative;
  &.bg-primary-color {
    background-color: $primary_color;
  }
}
.l40 {
  letter-spacing: 0.04em;
}
.media-body {
  width: inherit;
}
.margin-top40 {
  margin-top: 40px;
}
.thin {
  font-weight: 300;
}
.well {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
}
.dark {
  color: $color_dark;
}
.dark2 {
  color: $color_dark2;
}
.color-primary {
  color: $primary_color;
}
.media .color-primary {
  color: $primary_color !important;
}
.cmsline {
  width: 19px;
  height: 3px;
  background-color: $color_dark2;
  display: block;
}
.line-gray {
  height: 1px;
  display: block;
  width: 100%;
  background-color: #353535;
}
.icon-box-style {
  display: block;
  height: 60px;
  line-height: 72px;
  text-align: center;
  width: 60px;
  @include border-radius(2px);
  background-color: $primary_color;
  position: relative;
  &:before {
    content: "";
    height: 2px;
    width: 19px;
    background-color: $primary_color;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  i {
    font-size: 28px;
    color: #fff;
  }
}
.bg-primary-color, .box-primary .cms-counter-inner {
  background-color: $primary_color;
}
.cms-title {
  font-size: 16px;
  margin: 0 0 30px;
  position: relative;
  line-height: 30px;
  border-bottom: $border_2x;
  padding-bottom: 11px;
  letter-spacing: 0.06em;
  &:before, &:after {
    background-color: #282828;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 30px;
  }
  &:after {
    width: 20px;
    bottom: -6px;
  }
}
.br-2px {
  @include border-radius(2px);
}
.br-3px {
  @include border-radius(3px);
}
.br-4px {
  @include border-radius(4px);
}
.br-5px {
  @include border-radius(5px);
}
.z-index-1 {
  z-index: 1;
}
/*
================> Unit Test
*/

table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
    @include border-radius(0);
    th {
      color: $color_dark;
    }
}
caption, td {
    font-weight: normal;
    text-align: left;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
  padding: 13px 8px;
}
th {
  font-weight: 700;
}
td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
/*--- Definition Lists ---*/
dl {
    margin: 0 0 0 25px;
}
dl dt {
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color_dark;
}
dl dd {
    line-height: normal;
    margin-bottom: 20px;
    a {
      color: $primary_color;
      &:hover {
        color: $color_main;
      }
    }
}
code, kbd {
    background-color: transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 100%;
    padding: 2px 4px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}
ins {
    color: #fff;
    border: none;
    padding: 2px;
    text-decoration: none;
    background-color: $primary_color;
}
pre {
    background: #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.woocommerce ins {
  background-color: transparent;
}
.entry-content-inner {
  ul {
    padding: 0 0 0 35px;
    list-style-type: square;
    &.list-style-check {
      list-style: none;
      padding: 0;
    }
  }
}
dl + h2 + ul {
  list-style: none;
  padding: 0 0 0 35px;
  li {
    position: relative;
    padding-left: 15px;
    &:before {
      content: "\f111";
      font-family: FontAwesome;
      font-size: 7px;
        left: 0;
        position: absolute;
        color: $primary_color;
    }
    ul {
      padding-left: 35px;
    }
  }
}
/* ==========================================================================
   [End] 1. Reset HTML/CSS, Unitest, Body
========================================================================== */

/* ==========================================================================
   [Start] 2. Page Title
========================================================================== */
.line-icon {
  display: inline-block;
  height: 6px;
  width: 30px;
  position: relative;
  &:before, &:after {
    height: 2px;
    width: 20px;
    content: "";
    background-color: #282828;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:after {
    bottom: 0;
    right: inherit;
    left: 0;
    top: inherit;
  }
  &.white {
    &:before, &:after {
      background-color: #fff;
    }
  }
}
#page-title {
  position: relative;
  padding-top: 395px;
  padding-bottom: 45px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  > .container {
    position: relative;
    z-index: 1;
  }
  &:before {
    background-color: rgba(27, 26, 26, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  #page-title-text { 
    h1 {
      color: #fff;
      font-size: 40px;
      line-height: 1;
      text-transform: uppercase;
      margin: 0;
      position: relative;
      letter-spacing: 0.04em;
      font-weight: 800;
    }
    .sub-title {
      color: #e5e4e4;
      font-family: Lora;
      font-size: 17px;
      font-style: italic;
      line-height: 45px;
      display: block;
    }
  }
  #breadcrumb-text {
    &.line-white {
      position: relative;
    }
    ul.breadcrumbs {
      color: #f9f9f9;
      font-size: 15px;
      line-height: normal;
      list-style: outside none none;
      letter-spacing: 0.02em;
      padding: 9px 0 0;
      li{
        display: inline-block;
        margin: 0;
        +li {
          &:before {
            padding: 0 10px;
            font-family: FontAwesome;
            content: '/';
          }
        }
        a {
          color: #e5e4e4;
          &:hover{
            color: $primary_color;
            text-decoration: none;
          }
        }
        &:first-child{
          a{
            &:before{
              content: "Home";
            }
          }
        }
      }
    }
  }
  &.br-style2, &.br-style3 {
    padding-bottom: 146px;
    padding-top: 246px;
    #page-title-text h1 {
      padding-bottom: 4px;
    }
    #breadcrumb-text {
      margin-top: 2px;
    }
    .line-icon {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }
  &.br-style4 {
    padding-top: 270px;
    padding-bottom: 30px;
    #page-title-text h1 {
      padding-bottom: 118px;
    }
  }
  &.br-style6 {
    padding-bottom: 100px;
    padding-top: 200px;
    &:before {
      background-color: $primary_color;
      opacity: 0.75;
    }
    &:after {
      @include background-vertical2($primary_color, rgba(0,0,0,0));
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    #page-title-text h1 {
      padding-bottom: 4px;
    }
    #breadcrumb-text {
      margin-top: 2px;
    }
    .line-icon {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }
  &.br-style7 {
    padding-bottom: 68px;
    padding-top: 170px;
    &:before {
      background-color: rgba(0,0,0,0.4);
    }
    &:after {
      @include background-vertical2(rgba(0,0,0,0.4), rgba(0,0,0,0));
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    #page-title-text h1 {
      padding-bottom: 0;
      padding-top: 10px;
    }
    #breadcrumb-text {
      margin-bottom: 5px;
    }
    .line-icon {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }
  &.br-style8 {
    padding-bottom: 94px;
    padding-top: 228px;
    margin-bottom: 0 !important;
    background-image: none !important;
    &:before {
      background-color: transparent;
    }
    #page-title-text h1 {
      padding-bottom: 0;
      padding-top: 10px;
    }
    #breadcrumb-text {
      margin-bottom: 5px;
    }
  }
  &.br-style9 {
    padding: 70px 0;
    background-color: #f2f2f2;
    &:before {
      background-color: transparent;
    }
    #page-title-text h1 {
      color: $color_dark;
      font-size: 30px;
    }
    #breadcrumb-text ul.breadcrumbs {
      color: $color_dark;
      a {
        color: $primary_color;
        &:hover {
          color: $color_dark;
        }
      }
    }
  }
  &.overlay-primary-color  {
    &:before {
      background-color: $primary_color;
      opacity: 0.75;
    }
    &:after {
      @include background-vertical2($primary_color, rgba(0,0,0,0));
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .line-icon {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }
}
#page-title-wrapper {
  margin-bottom: 100px;
  #page-title {
    margin-bottom: 35px !important;
  }
  &.br-style5 {
    .container {
      #page-title-text h1 {
        color: #222;
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        letter-spacing: 0.04em;
        font-weight: 800;
      }
      #breadcrumb-text {
        ul.breadcrumbs {
          color: #9b9b9b;
          font-size: 15px;
          line-height: normal;
          list-style: outside none none;
          letter-spacing: 0.02em;
          padding: 9px 0 0;
          li{
            display: inline-block;
            margin: 0;
            +li {
              &:before {
                padding: 0 10px;
                font-family: FontAwesome;
                content: '/';
              }
            }
            a {
              color: $link_color;
              &:hover{
                color: $link_color_hover;
                text-decoration: none;
              }
            }
            &:first-child{
              a{
                &:before{
                  content: "Home";
                }
              }
            }
          }
        }
      }
    }
  }
}
.page-title-custom #page-title {
  background-attachment: inherit;
  background-position: center bottom;
}
.home #breadcrumb-text {
  display: none;
}
/* ==========================================================================
   [End] 2. Page Title
========================================================================== */

/* ==========================================================================
   [Start] 3. Primary
========================================================================== */
.body-border {
  position: fixed;
  background-color: #eeeeee;
  z-index: 10001;
  display: block;
  &.body-border-left {
    top: 0;
    bottom: 0;
    left: 0;
  }
  &.body-border-right {
    top: 0;
    bottom: 0;
    right: 0;
  }
}

#cms-theme.modal-open {
  #page-wrapper, #cshero-header-inner.header-19 #cshero-header-top {
    z-index: inherit;
  }
  .modal-backdrop {
    background-color: #222;
    &.in {
      opacity: 0.95;
    }
    + .modal-backdrop {
      display: none !important;
    }
  }
}
#page-wrapper.cs-boxed {
  background-color: #fff;
  &.pt-style8 {
    background-color: transparent;
    #main {
      padding-top: 50px;
    }
    #cms-page-title-wrapper {
      padding: 0;
      #page-title #breadcrumb-text ul.breadcrumbs li a:hover {
        color: $color_dark;
      }
    }
    #cshero-header-inner {
      #cshero-header-top .container, #cshero-header {
        padding: 0 !important;
      }
      &.header-1, &.header-2, &.header-4, &.header-7, &.header-9, &.header-10, &.header-15 {
        max-width: 1270px;
        &:not(.bg-trans) {
          background-color: #fff;
        }
        #cshero-header.header-fixed {
          max-width: 1270px !important;
        }
      }
    }
  }
  .vc_row[data-vc-full-width] {
    &.column-no-padding, &.vc_row-no-padding {
      padding-left: 0 !important;
      padding-right: 0 !important;
      > .vc_column_wrapper {
        margin: 0;
      }
    }
  }
}
#main {
  .sidebar-left-active #primary.sidebar-active {
    float: right;
  }
}

/* Column Position */
.wpb_column {
  &.position-left, &.position-right {
    position: absolute;
    top: 0;
    left: 0;
  }
  &.position-right {
    left: inherit;
    right: 0;
  }
}
/* Column Overlay */
.column-bg-overlay {
  color: #fff;
  .overlay-color-column {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .wpb_wrapper {
    position: relative;
    z-index: 1;
  }
  ul li {
    border-color: rgba(255, 255, 255, 0.2) !important; 
  }
}
/* End Column Overlay */

#content footer.entry-meta {
  padding: 0;
  text-align: center;
}
.sider-page {
  .wpb_row .container {
    padding: 0;
    width: 100%;
  }
  &.sd-left {
    #primary {
      float: right;
    }
  }
  &.sd-right {
    #primary {
      float: left;
    }
  }
}
#page-blog-standard #primary.page-full-width, .single-post-wrap #primary.full-width, .archive #primary.page-full-width {
  float: none;
  margin: auto;
  max-width: 770px;
  .pagination {
    margin-bottom: 80px;
  }
}
/* Sidebar */
#sidebar #secondary {
  padding: 30px 30px 0 30px;
  background-color: #fff;
  @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.05));
  border-width: 1px;
  border-style:  solid;
  border-color: #f9f9f9 #eeeeee #eeeeee;
}
#sidebar, .wpb_widgetised_column, .sg-services-sidebar, .sidebar-post-type {
  margin-bottom: 80px;
  .widget-title, .wg-title {
    @extend .cms-title;
  }
  aside, .slidingbar-widget-col {
    margin-bottom: 51px;
  }
  ul.children, ul.sub-menu {
    padding-left: 15px;
  }
}

/* Background Image Fixed vs Background Overlay Color */
#content .wpb_row {
  &.row-background-fixed{
    position: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay-color {
      height: 3000px;
      left: -50%;
      position: relative;
      margin-bottom: -3000px;
      width: 200%;
      @include transform(translateY(-20%));
    }
  }
  &.row-bg-overlay {
    overflow: hidden;
  }
  .overlay-color {
    position: absolute;
    height: 100%;
    width: 200%;
    top: 0;
    left: -50%;
  }
}
/* Page 404 */
.cms-error404 {
  text-align: center;
  margin-bottom: 200px;
  .entry-header {
    h1 {
      font-size: 280px;
      line-height: 235px;
      margin-bottom: 10px;
      margin-top: 80px;
      font-weight: 700;
    }
  }
  .entry-content {
    margin: auto;
    max-width: 600px;
    .text {
      font-size: 15px;
      color: #a5a5a5;
    }
    a {
      margin-top: 30px;
    }
  }
}
/* Page Loading */
#cms-loadding {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

/* Page Contact - Gettouch */
.page-get-contact {
  ul {
    margin-bottom: 20px;
    li {
      padding-left: 28px;
      position: relative;
      margin-bottom: 7px;
      margin-top: 4px;
      i {
        font-size: 16px;
        color: $color_dark2;
        padding-right: 14px;
        left: 0;
        position: absolute;
        top: 15px;
        color: $primary_color;
      }
      a {
        display: block;
      }
    }
  }
}

/* Custom - Row background image */
.custom-row-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
    width: 50%;
    &:before {
      background-color: rgba(34, 34, 34, 0.15);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
}
.overlay-none .custom-row-image:before {
  background: transparent;
}
.row-image-holder {
  border: 2px solid #f9f9f9;
  bottom: 90px;
  left: 15px;
  position: absolute;
  right: 165px;
  text-align: center;
  top: 90px;
  img {
    left: 50%;
    position: absolute;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }
}
.col-bg-overlay > .vc_column-inner {
  position: relative;
  &:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: $primary_color;
    opacity: 0.75;
    display: block;
  }
  &:after {
    @include background-vertical2($primary_color, rgba(0,0,0,0));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    opacity: 0.8;
  }
  > .wpb_wrapper {
    position: relative;
    z-index: 1;
  }
}
.col-bg-overlay2 .custom-row-image {
  &:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: $primary_color;
    opacity: 0.75;
    display: block;
  }
  &:after {
    @include background-vertical2($primary_color, rgba(0,0,0,0));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    opacity: 0.8;
  }
}
.custom-row-image-right {
  .custom-row-image {
    left: initial;
    right: 0;
    &:before {
      background-color: transparent;
    }
  }
}
.bg-border-custom .custom-row-image:after {
  border: 2px solid rgba(255, 255, 255, 0.5);
  bottom: 100px;
  content: "";
  left: 100px;
  position: absolute;
  right: 100px;
  top: 100px;
}
/* Custom Slider */
.rev_slider a {
  @include transition(all 300ms linear 0ms !important);
  &.btn-default-white {
    &:hover, &:focus {
      background-color: $primary_color;
      border-color: $primary_color;
    }
  }
}
.rev_slider_wrapper {
  .tp-bullets.custom {
    .tp-bullet {
      width: 16px;
      height: 2px;
      background-color: rgba(255,255,255,0.4);
      &.selected, &:hover {
        background-color: #fff;
      }
    }
  }
  .tp-leftarrow.custom, .tp-rightarrow.custom {
    height: 60px;
    width: 60px;
    text-align: center;
    @include transition(all 300ms linear 0ms);
    background-color: transparent;
    &:before {
      height: 60px;
      width: 34px;
      background-color: rgba(27,26,26,0.95);
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      z-index: 0;
      @include transition(all 300ms linear 0ms);
    }
    &:after {
      background-image: url(../images/slide-arrow-left.png);
      background-repeat: no-repeat;
      background-position: center;
      height: 60px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      z-index: 0;
    }
    &:hover {
      &:before {
        width: 60px;
      }
    }
  }
  .tp-rightarrow.custom {
    &:before {
      left: initial !important;
      right: 0;
    }
    &:after {
      background-image: url(../images/slide-arrow-right.png);
    }
  }
}
/* End Custom Slider */

/* Feature Section */
.section-feature1, .section-feature2 {
  .vc_img-placeholder {
    max-width: 50px;
  }
  &.no-shadow > .vc_column_wrapper {
    @include box-shadow(none);
  }
}
.section-feature1 > .vc_column_wrapper {
  background-color: #fff;
  @include box-shadow(0 2.3px 2px 0.1px #f1f1f1);
  margin: 0 15px;
}
.page-title-align-left {
  #breadcrumb-text, #page-title-text {
    text-align: left;
  }
}
/* ==========================================================================
   [End] 3. Primary
========================================================================== */
