                                    $primary_color:#d14b4b;.practice-layout6 .cms-grid-item-inner .cms-practice-content-hover {
                background-color:rgba(209, 75, 75, 0.95);
            }.practice-layout10 .cms-practice-content.content-hover::before {
                background-color:rgba(209, 75, 75, 0.85);
            }.practice-layout11 .cms-grid-item-inner .cms-practice-content-hover, .practice-layout11 .cms-grid-item-inner .cms-practice-content::before {
                background-color:rgba(209, 75, 75, 0.9);
            }.cms-testimonial-layout1.custom-layout4 .cms-testimonial-wrapper {
                background-color:rgba(209, 75, 75, 0.7);
            }$secondary_color:#81d742;$link_color:#323232;$link_color_hover:#55bce9;