.cms-fancyboxes-layout5 .cms-fancybox-content-inner{font-family:'Open Sans';}.cms-fancyboxes-layout5 .cms-fancybox-content-inner{font-weight:600;}$primary_color:#0e67b1;.layout-services.services-layout5 .bg-overlay {
                background-color:rgba(14, 103, 177, 0.9);
            }.overlay-primary-color .overlay-color {
                background-color:rgba(14, 103, 177, 0.95);
            }.overlay-primary-color2 .overlay-color {
                background-color:rgba(14, 103, 177, 0.75);
            }$secondary_color:#4ea7d8;$link_color:#4ea7d8;$link_color_hover:#f48430;.body-border-wrapper {
                padding:px;
            }.body-border-wrapper #back_to_top.on {
                bottom:px;
            }.body-border-wrapper #back_to_top.on {
                right:px;
            }