$primary_color:#1bb580;.layout-services.services-layout5 .bg-overlay {
                background-color:rgba(27, 181, 128, 0.9);
            }.overlay-primary-color .overlay-color {
                background-color:rgba(27, 181, 128, 0.95);
            }.overlay-primary-color2 .overlay-color {
                background-color:rgba(27, 181, 128, 0.75);
            }$secondary_color:#222222;$link_color:#222222;$link_color_hover:#1bb580;